<div class="ui container upload-container">
  <div class="ui form">
    <div class="nav">
      <div class="field arrow-container">
        <img (click)="goMenu()" src="../../../assets/arrow.png"alt="">
        <p>Regresar</p>
      </div>
      <div (click)="closePopUp()" *ngIf="popup" class="pop-up">
        <div class="message">
          <p>Noticia subida con éxito a la base de datos.</p>
        </div>
      </div>
      <div (click)="closeWarning()" *ngIf="warning" class="warning">
        <div class="warning-message">
          <p>Faltan datos para subir la noticia</p>
        </div>
      </div>
    </div>
    <div class="field">
      <label>Título de la nota:</label>
      <input type="text" (keyup)="onTitleChange($event)" placeholder="Titulo">
    </div>
    <div class="field">
      <label>Adelanto de la Nota:</label>
      <input type="text" (keyup)="onSummaryChange($event)" placeholder="Adelanto">
    </div>
    <div class="field">
      <label>Contenido de la nota:</label>
      <textarea id="content" (keyup)="onContentChange($event)" cols="30" rows="10"></textarea>
    </div>
    <div class="field">
      <label>Categoría:</label>
        <input type="text" (keyup)="onCategoryChange($event)" placeholder="Categría">
    </div>
    <div class="field">
        <label>Autor de la nota:</label>
        <input type="text" (keyup)="onAuthorChange($event)" placeholder="Autor">
    </div>
    <div class="field">
        <label>Imagen:</label>
        <input type="file" name="articleImage" id="input" value="image">
    </div>
    <button (click)="submitArticle()" class="ui fluid primary button">Enviar</button>
  </div>
</div>


