<div class="ui container">

  <div class="nav">
    <div class="field arrow-container">
      <img (click)="goList()" src="../../../assets/arrow.png"alt="">
      <p>Regresar</p>
    </div>
    <div (click)="closePopUp()" *ngIf="popup" class="pop-up">
      <div class="message">
        <p>Noticia actualizada con éxito</p>
      </div>
    </div>
    <div (click)="closeWarning()" *ngIf="warning" class="warning">
      <div class="warning-message">
        <p>Faltan datos para actualizar la noticia</p>
      </div>
    </div>
  </div>


  <div *ngIf="noticia" class="noticia-container">
    <img [src]="getImage()" alt="">
    <div class="title">
      <h1>{{ article.title }}</h1>
    </div>
    <div class="summary">
      <p>{{ article.summary }}</p>
    </div>
    <div id="content" class="content">
      <p></p>
    </div>
    <div class="footer">
      <div class="author">
        <p>Autor: {{ article.author }}</p>
      </div>
      <div class="date">
        <p>Fecha: {{article.date}}</p>
      </div>
    </div>
    <button (click)="flipEdit()" class="ui fluid primary button">Editar</button>
  </div>



  <div *ngIf="editar" class="ui form">
    <div class="field">
      <label>Título de la nota:</label>
      <input type="text" (keyup)="onTitleChange($event)" placeholder="Titulo">
    </div>
    <div class="field">
      <label>Adelanto de la Nota:</label>
      <input type="text" (keyup)="onSummaryChange($event)" placeholder="Adelanto">
    </div>
    <div class="field">
      <label>Contenido de la nota:</label>
      <textarea id="content" (keyup)="onContentChange($event)" cols="30" rows="10"></textarea>
    </div>
    <div class="field">
      <label>Categoría:</label>
        <input type="text" (keyup)="onCategoryChange($event)" placeholder="Autor">
    </div>
    <div class="field">
        <label>Autor de la nota:</label>
        <input type="text" (keyup)="onAuthorChange($event)" placeholder="Autor">
    </div>
    <div class="field">
        <label>Imagen:</label>
        <input type="file" name="articleImage" id="input" value="image">
    </div>
    <button (click)="updateArticle()" class="ui fluid primary button">Enviar</button>
  </div>
</div>
