.noticia-container{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.noticia-container img{
  margin: 0 auto;
  border-radius: 15px;
  width: 600px;
  height: 300px;
}

.title{
margin-top: 15px;
padding: 20px;
}

.summary p {
  font-size: 20px;
  text-align: justify;
}

.content{
  margin-top: 15px;
  font-size: 18px;
  text-align: justify;
}

.footer{
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;

}

.noticia-container button{
  margin: 0 auto;
  margin-top: 25px;
width: 70%;

}

.arrow-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width: 10%;
}

.arrow-container img{
  cursor: pointer;
  width: 75px;
  height: 75px;
}

.arrow-container p{
  align-self: center;
}

.pop-up{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.message{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #258d19;
  width: 40%;
  height: 75px;
  cursor: pointer;
  animation-name: popUp;
  animation-duration: 5s;

}

.nav{
  display: flex;
  align-items: center;
}

@keyframes popUp{
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}

.message p{
  color: white;
  text-align: center;
  font-size: 20px;
}

.warning{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.warning-message{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #c70039;
  width: 40%;
  height: 75px;
  cursor: pointer;
  animation-name: popUp;
  animation-duration: 5s;

}

.warning-message p{
  color: white;
  text-align: center;
  font-size: 20px;
}
