.nav-container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 25px;
    height: 75px;
    width: 80%;
    align-content: center;
    margin-bottom: 25px;
}

.logo{
    width: 30%;
    display: flex ;

}

.nav-container img{
  cursor: pointer;
    border-radius: 50px;
    width: 85px;
    height: 85px;
    margin-right: 20px
}

.nav-container p{
    align-self: center;
    font-size: 26px;
}


